<div class="main-container">
  <h1>Admin panel</h1>

  <a class="button max-width-button"
     routerLink="/order-admin-main-page"
     mat-stroked-button
     color="primary">Zamówienia</a>

  <a class="button max-width-button"
     routerLink="/meal-admin-main-page"
     mat-stroked-button
     color="primary">Dania</a>

  <a class="button max-width-button"
     routerLink="/ingredient-admin-main-page"
     mat-stroked-button
     color="primary">Składniki</a>

  <a class="button max-width-button"
     routerLink="/city-admin-main-page"
     mat-stroked-button
     color="primary">Miasta</a>

  <a class="button max-width-button"
     routerLink="/meal-category-main-page"
     mat-stroked-button
     color="primary">Kategorie dań</a>
</div>
