<form class="container"
      [formGroup]="loginForm">
  <div>
    <h1 style="margin-bottom: 20px;">Logowanie</h1>

    <!-- Email -->
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email"
             matInput
             formControlName="email"
             [errorStateMatcher]="singleControlMatcher"
             placeholder="example@email.com" />
      <mat-error *ngIf="email?.errors?.['email']">
        Proszę wprowadzić poprawny adres email
      </mat-error>
      <mat-error *ngIf="email?.errors?.['required']">
        Email jest wymagany
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Hasło</mat-label>
      <input type="password"
             matInput
             placeholder="Hasło"
             formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        Hasło jest wymagane
      </mat-error>
      <mat-error *ngIf="password?.errors?.['minlength']">
        Hasło powinno zawierać co najmniej {{ minPassLength }} znaków
      </mat-error>
      <mat-error *ngIf="password?.errors?.['maxlength']">
        Hasło powinno zawierać nie więcej niż {{ maxPassLength }} znaki
      </mat-error>
    </mat-form-field>

  </div>

  <button class="button"
          (click)="onSubmit()"
          mat-raised-button
          color="primary"
          [disabled]="!loginForm.valid">
    Zaloguj
  </button>
</form>
