<mat-toolbar>
  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="home">Restauracja</a>

  <a class="button"
     routerLink="menu"
     mat-stroked-button
     color="primary">Menu</a>
  <a class="button"
     routerLink="order"
     mat-stroked-button
     color="primary">Złóż zamówienie</a>

  <span class="navbar-spacer"></span>
  <ng-container *ngIf="!isLoggedIn">
    <a class="button"
       routerLink="login"
       mat-stroked-button
       color="primary">Zaloguj</a>
    <a class="button"
       routerLink="/register"
       mat-raised-button
       color="primary">Zarejestruj</a>
  </ng-container>

  <button *ngIf="isLoggedIn"
          class="button"
          mat-stroked-button
          color="primary"
          (click)="logout()">Wyloguj</button>
</mat-toolbar>
