.form-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background-color: #343a40;
  margin: 50px auto 0px auto;
}

h1 {
  color: white;
}

.full-width-input {
  margin-top: 8px;
  border-radius: 10px;
  width: 100%;
  color: white !important;
}

.button {
  align-self: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
