<form class="form-container"
      [formGroup]="addMealForm">
  <div>
    <h1 style="margin-bottom: 20px;">Dodawanie dania</h1>

    <!-- Name -->
    <mat-form-field class="full-width-input"
                    appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input type="text"
             matInput
             formControlName="name"
             [errorStateMatcher]="singleControlMatcher"
             autocomplete="off" />
      <mat-error *ngIf="name?.errors?.['required']">
        Nazwa jest wymagana
      </mat-error>
    </mat-form-field>

    <!-- Price -->
    <mat-form-field class="full-width-input"
                    appearance="fill">
      <mat-label>Cena</mat-label>
      <input type="number"
             matInput
             formControlName="price"
             [errorStateMatcher]="singleControlMatcher"
             autocomplete="off" />

      <mat-error *ngIf="price?.errors?.['required']">
        Cena jest wymagana
      </mat-error>

      <mat-error *ngIf="price?.errors?.['min']">
        Cena nie może być mniejsza od 0.01 zł
      </mat-error>

      <mat-error *ngIf="price?.errors?.['max']">
        Cena nie może być większa od 500 zł
      </mat-error>

    </mat-form-field>

    <!-- Category -->
    <mat-form-field class="full-width-input"
                    appearance="fill">

      <mat-label>Kategoria</mat-label>

      <mat-select matInput
                  formControlName="mealCategoryId">
        <mat-option *ngFor="let category of categories"
                    [value]="category.id">{{category.name}}</mat-option>
      </mat-select>

      <mat-error *ngIf="mealCategoryId?.errors?.['required']">
        Kategoria jest wymagana
      </mat-error>

    </mat-form-field>

  </div>

  <button class="button"
          (click)="onSubmit()"
          mat-raised-button
          color="primary"
          [disabled]="!addMealForm.valid || disableSubmitButton">
    Dodaj danie
  </button>
</form>
