.main-container {
  width: 60%;
  margin: 25px auto 0 auto;
}

.title-container {
  color: #343a40
}

.summary-item {
  margin-top: 5px;
  background-color: #6c757d;
  height: 50px;
  width: 90%;
  color: white;
}
