<div class="main-table-container">

  <div class="table-container">
    <div class="loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <table mat-table
           class="full-width-table"
           [dataSource]="ingredients"
           matSort
           aria-label="Elements"
           multiTemplateDataRows>

      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef>Id</th>
        <td mat-cell
            *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef>Nazwa</th>
        <td mat-cell
            *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>Akcje</th>
        <td mat-cell
            *matCellDef="let element">

          <button mat-mini-fab
                  routerLink="/edit-ingredient-page"
                  [state]="{ data: element}"
                  class="icon-button delete-item-icon">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-mini-fab
                  (click)="delete(element.id)"
                  [disabled]="disableDeleteButton"
                  class="icon-button delete-item-icon">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
  </div>
  <mat-paginator #paginator
                 class="paginator"
                 [length]="resultsLength"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page">
  </mat-paginator>

  <div class="add-item-button-container">
    <button mat-mini-fab
            routerLink="/add-ingredient-page"
            class="icon-button add-item-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
