* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* #region Forms */

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.form-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  background-color: #343a40;
  margin: 50px auto 0px auto;
}

.full-width-input {
  margin-top: 8px;
  border-radius: 10px;
  width: 100%;
  color: white !important;
}

/* #endregion Forms */

/* #region Buttons */
.button {
  margin-left: 5px !important;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

/* #endregion Buttons */

/* #region Tables */

.main-table-container {
  position: relative;
  height: calc(100% - 164px);
  width: 94%;
  max-width: 1000px;
  margin: 50px auto 0 auto;
}

.table-container {
  position: relative;
  min-height: 300px;
  max-height: calc(100% - 56px);
  overflow: auto;
  background-color: #495057;
}

.full-width-table {
  background-color: #343A40;
  position: relative;
  overflow: auto;
  height: 100% !important;
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: #495057 !important;
}

.paginator {
  background-color: #212529;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-container {
  text-align: center !important;
  justify-content: center;
}

.mat-column-id {
  padding: 0 !important;
  text-align: center !important;
  width: 50px;
}

.mat-column-expand {
  padding-right: 0 !important;
  width: 50px;
}

.mat-column-actions {
  width: 120px;
  justify-content: center !important;
  text-align: center !important;
}

.mat-column-isActive {
  width: 100px;
  text-align: center !important;
}

.mat-column-available {
  width: 100px;
  text-align: center !important;
}

.mat-sort-header {
  padding: 0 0 0 24px !important;
}

.mat-cell {
  text-align: center;
  padding: 0px !important;
}

.table-spacer {
  height: 50px;
}

.action-icon {
  margin-top: 5px;
  color: white !important;
  background-color: #6C757D !important;
  scale: 0.75;
}

.add-item-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-item-icon {
  margin-top: 5px;
  color: white !important;
  background-color: #343A40 !important;
}

/* #endregion Tables */
