* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* #region Buttons */
.button {
  margin-left: 5px !important;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

/* #endregion Buttons */

/* #region Tables */

.main-table-container {
  position: relative;
  height: calc(100% - 164px);
  width: 94%;
  max-width: 1000px;
  margin: 0 auto;
}

.table-container {
  position: relative;
  margin-top: 50px;
  min-height: 400px;
  max-height: calc(100% - 56px);
  overflow: auto;
  background-color: rgb(55, 55, 55);
}

.full-width-table {
  position: relative;
  overflow: auto;
  height: 100% !important;
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-container {
  justify-content: center;
}

th.mat-header-cell {
  text-align: center !important;
}

.mat-column-id {
  padding-left: 0 !important;
  width: 50px;
}

.mat-column-expand {
  padding-right: 0 !important;
  width: 50px;
}


.mat-column-isActive {
  width: 100px;
}

.mat-sort-header {
  padding: 0 0 0 24px !important;
}

.mat-cell {
  text-align: center;
  padding: 0px !important;
}

.table-spacer {
  height: 50px;
}

/* #endregion Tables */
