.main-table-container {
  margin: 0 auto;
  width: 94%;
  height: calc(100% - 164px);
}

.table-container {
  position: relative;
  margin-top: 50px;
  min-height: 400px;
  max-height: calc(100% - 56px);
}

.test {
  min-height: 400px;
  max-height: 300px;
}

.table-spacer {
  height: 50px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
