tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  background-color: #6C757D;
}

.container {
  width: 100%;
  padding: 10px;
}

.table-spacer {
  height: 50px;
}

.non-mobile-view {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details-container {
  text-align: center;
}

.price-container {
  text-align: center;
  width: 100%;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
