<div class="meal-details-container">
  <h1>{{name}}</h1>
  <p>Id: {{id}}</p>
  <p>Cena: {{price | number : '1.2-2'}} zł</p>
  <p>Kategoria: {{categoryId}}</p>
  <p>Dostępne: {{available ? "tak" : "nie"}}</p>
</div>

<div class="main-container">
  <h1>Opcje edycji</h1>

  <a class="button max-width-button"
     routerLink="/order-admin-main-page"
     mat-stroked-button
     color="primary">Danie</a>

  <a class="button max-width-button"
     routerLink="/meal-admin-main-page"
     mat-stroked-button
     color="primary">Cena</a>

  <a class="button max-width-button"
     routerLink="/ingredient-admin-main-page"
     mat-stroked-button
     color="primary">Przepis</a>

  <button class="button max-width-button"
          *ngIf="!available"
          [disabled]="!buttonActive"
          (click)="setAsAvailable()"
          mat-stroked-button
          color="primary">Ustaw jako aktywne</button>

  <button class="button max-width-button"
          *ngIf="available"
          [disabled]="!buttonActive"
          (click)="setAsUnavailable()"
          mat-stroked-button
          color="primary">Ustaw jako nieaktywne</button>
</div>
