.nav {
  background-color: #343a40 !important;
}

.sidenav-container {
  height: 100%;
}

.mat-drawer-container {
  background-color: #f8f9fa !important;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.first {
  margin-left: 20px !important;
}

.burger {
  margin-right: 20px;
  background-color: rgb(59, 59, 59) !important;
}

a {
  text-decoration: none;
  color: white;
}

.button {
  margin: 0 5px 0 10px;
}
