<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer
               class="sidenav"
               [ngClass]="{hidden : !(shouldChangeToBurger$ | async)}"
               [attr.role]="(shouldChangeToBurger$ | async) ? 'dialog' : 'navigation'"
               [mode]="(shouldChangeToBurger$ | async) ? 'over' : 'side'"
               [opened]="false">

    <mat-nav-list>
      <a mat-list-item
         (click)="drawer.toggle()"
         routerLink="home">Home</a>
      <a mat-list-item
         (click)="drawer.toggle()"
         routerLink="menu">Menu</a>
      <a mat-list-item
         *ngIf="isLoggedIn"
         (click)="drawer.toggle()"
         routerLink="order">Złóż zamówienie</a>
      <a mat-list-item
         *ngIf="isLoggedIn"
         (click)="drawer.toggle()"
         routerLink="order-history">Historia zamówień</a>
      <!-- TODO ONLY FOR ADMIN -->
      <a mat-list-item
         *ngIf="isLoggedIn && (userRole == 'HeadAdmin' || userRole == 'Admin')"
         (click)="drawer.toggle()"
         routerLink="admin-main-page">Admin panel</a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="nav">

      <button type="button"
              class="burger"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="shouldChangeToBurger$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a class="logo"
         routerLink="home">Restauracja</a>

      <a class="button first"
         *ngIf="!(shouldChangeToBurger$ | async)"
         routerLink="menu"
         mat-stroked-button
         color="primary">Menu</a>

      <a class="button"
         *ngIf="isLoggedIn && !(shouldChangeToBurger$ | async)"
         routerLink="order"
         mat-stroked-button
         color="primary">Złóż zamówienie</a>

      <a class="button"
         *ngIf="isLoggedIn && !(shouldChangeToBurger$ | async)"
         routerLink="order-history"
         mat-stroked-button
         color="primary">Historia zamówień</a>

      <a class="button"
         *ngIf="isLoggedIn
          && !(shouldChangeToBurger$ | async)
          && (userRole == 'HeadAdmin' || userRole == 'Admin')"
         routerLink="admin-main-page"
         mat-stroked-button
         color="primary">Admin panel</a>


      <span class="navbar-spacer"></span>

      <ng-container *ngIf="!isLoggedIn">

        <a class="button"
           routerLink="login"
           mat-stroked-button
           color="primary">Zaloguj</a>

        <a class="button"
           routerLink="register"
           mat-raised-button
           color="primary">Zarejestruj</a>

      </ng-container>

      <button *ngIf="isLoggedIn"
              class="button"
              mat-stroked-button
              color="primary"
              (click)="logout()">Wyloguj</button>

    </mat-toolbar>

    <ng-content>
    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
