<form class="form-container"
      [formGroup]="mainForm">
  <div>
    <h1 style="margin-bottom: 20px;">Dodawanie miasta</h1>

    <!-- Name -->
    <mat-form-field class="full-width-input"
                    appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input type="text"
             matInput
             formControlName="name"
             [errorStateMatcher]="singleControlMatcher"
             autocomplete="off" />

      <mat-error *ngIf="name?.errors?.['required']">
        Nazwa jest wymagana
      </mat-error>

      <mat-error *ngIf="name?.errors?.['maxlength']">
        Nazwa nie może przekraczać 127 znaków
      </mat-error>

    </mat-form-field>
  </div>

  <button class="button"
          (click)="onSubmit()"
          mat-raised-button
          color="primary"
          [disabled]="!mainForm.valid || disableSubmitButton">
    Dodaj miasto
  </button>
</form>
