.item-container {
  color: white;
  width: 100%;
  background-color: #495057 !important;
  border-radius: 5px;
  margin: 20px auto;
}

.item-container-padding {
  padding: 10px;
}

mat-card {
  background-color: transparent !important;
}

.item-card-title-container {
  display: flex;
  justify-content: space-between;
}

.ingredients-list-container {
  margin-top: 10px;
  width: 100%;
  max-width: 450px;
}

.meal-name {
  letter-spacing: 0.2px;
}

.price {
  margin-right: 5px;
  color: #fff;
  font-size: 22px;
  letter-spacing: -1px;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 5px;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
