.item-container {
  color: white;
  width: 100%;
  background-color: #495057 !important;
  border-radius: 5px;
  margin: 20px auto;
}

mat-card {
  background-color: transparent !important;
}

.order-button-base {
  min-width: 36px;
  width: 36px;
  padding: 0px;
}

.button-green {
  color: rgb(11, 151, 11);
  border: solid 1px rgb(11, 151, 11)
}

.button-red {
  color: rgb(206, 21, 21);
  border: solid 1px rgb(206, 21, 21);
}

.ingredients-list-container {
  margin-top: 10px;
  width: 100%;
  max-width: 450px;
}

.meal-name {
  letter-spacing: 0.2px;
}

.price {
  margin-right: 5px;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-buttons-container {
  display: flex;
  flex-direction: row;
}
