<div class="item-container">
  <mat-card>
    <mat-card-title class="d-flex justify-content-between">
      <div class="meal-name">
        {{meal.name}}
      </div>
      <div class="text-nowrap price">
        {{meal.price | number : '1.2-2'}} zł
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div class="ingredients-list-container">
        <span class="ingredients-list"
              *ngFor="let ingredient of meal.ingredients; let last = last">
          {{ingredient.name}}<ng-container *ngIf="!last">,</ng-container>
        </span>
      </div>
    </mat-card-subtitle>
    <mat-card-actions>
      <div class="buttons-container">
        <div class="amount-buttons-container">
          <button mat-stroked-button
                  [disabled]="amount <= 0"
                  (click)="remove()"
                  class="button order-button-base button-red">-1</button>
          <div class="amount">
            {{amount}}
          </div>
          <button mat-stroked-button
                  [disabled]="amount >= maxMealCount"
                  (click)="add()"
                  class="button order-button-base button-green">+1</button>
        </div>

        <button mat-stroked-button
                (click)="addToCart()"
                class="button"
                color="primary">Dodaj do zamówienia</button>
      </div>


    </mat-card-actions>
  </mat-card>
</div>
