<form class="container">

  <!-- Email -->
  <mat-form-field class="example-full-width"
                  appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email"
           matInput
           [formControl]="emailFormControl"
           [errorStateMatcher]="singleControlMatcher"
           placeholder="example@email.com" />
    <mat-error *ngIf="
    emailFormControl?.hasError('email')">
      Proszę wprowadzić poprawny adres email
    </mat-error>
    <mat-error *ngIf="emailFormControl?.hasError('required')">
      Email jest wymagany
    </mat-error>
  </mat-form-field>

  <ng-container [formGroup]="passwordFormGroup">

    <!-- Password -->
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             placeholder="Hasło"
             formControlName="password" />
      <mat-error *ngIf="passwordFormGroup.hasError('required', 'password')">
        Hasło jest wymagane
      </mat-error>
      <mat-error *ngIf="
      passwordFormGroup.hasError('minlength', 'password')">
        Hasło powinno zawierać co najmniej {{ minPassLength }} znaków
      </mat-error>
      <mat-error *ngIf="
      passwordFormGroup.hasError('maxlength', 'password')">
        Hasło powinno zawierać nie więcej niż {{ maxPassLength }} znaki
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field class="example-full-width"
                    appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password"
             matInput
             placeholder="Potwierdź hasło"
             [errorStateMatcher]="groupMatcher"
             formControlName="confirmPassword" />
      <mat-error *ngIf="passwordFormGroup.hasError('required')">
        Potwierdzenie hasła jest wymagane
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.hasError('notSame')">
        Wprowadzone hasła są różne
      </mat-error>
    </mat-form-field>

  </ng-container>

  <button class="btn"
          mat-raised-button
          color="primary"
          [disabled]="!passwordFormGroup.valid || !emailFormControl.valid">
    Zarejestruj
  </button>
</form>
