.main-container {
  width: 96%;
  max-width: 600px;
  background-color: red;
  margin: 20px auto;
}

.history-item-container {
  height: 100px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}
