<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #cartSideNav
               position="end"
               class="sidenav"
               [attr.role]="(isMobileView$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isMobileView$ | async) ? 'over' : 'side'"
               [opened]="!(isMobileView$ | async)">

    <div class="cart-title-container">
      <h1 class="cart-title">Koszyk</h1>
      <p *ngIf="cart.length == 0"> Koszyk jest pusty</p>
    </div>

    <app-cart-item *ngFor="let cartItem of cart"
                   [cartItem]="cartItem"></app-cart-item>

    <p>{{cartSum() | number : '1.2-2'}} zł</p>
  </mat-sidenav>

  <mat-sidenav-content>

    <ng-content>
    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
