<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #cartSideNav
               position="end"
               class="sidenav"
               [attr.role]="(isMobileView$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isMobileView$ | async) ? 'over' : 'side'"
               [opened]="!(isMobileView$ | async)">
    <div>
      <div class="cart-title-container">
        <h1 class="cart-title">Koszyk</h1>
        <p *ngIf="cart.length == 0"> Koszyk jest pusty</p>
      </div>

      <app-cart-item *ngFor="let cartItem of cart"
                     [cartItem]="cartItem"></app-cart-item>

      <div class="spacer"></div>
    </div>

    <div class="cart-bottom-container">

      <div class="cart-sum-container">
        <span class="cart-sum-title">
          Suma zamówienia:
        </span>
        <span class="cart-sum-price">
          {{cartSum() | number : '1.2-2'}} zł
        </span>
      </div>

      <a class="button go-to-order"
         routerLink="/order-summary"
         [disabled]="cart.length == 0 || cartSum() < minCartSum"
         mat-raised-button
         color="primary">
        <span *ngIf="cartSum() >= minCartSum">
          Przejdź do zamówienia
        </span>
        <span *ngIf="cartSum() < minCartSum">
          Zamówienia od {{minCartSum}} zł.
        </span>

      </a>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <button *ngIf="(isMobileView$ | async)"
            mat-mini-fab
            (click)="cartSideNav.toggle()"
            class="icon-button absolute-icon cart-icon ">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <ng-content>
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
