<form class="form-container"
      [formGroup]="addIngredientForm">
  <div>
    <h1 style="margin-bottom: 20px;">Dodawanie składnika</h1>

    <!-- Name -->
    <mat-form-field class="full-width-input"
                    appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input type="text"
             matInput
             formControlName="name"
             [errorStateMatcher]="singleControlMatcher"
             autocomplete="off" />
      <mat-error *ngIf="name?.errors?.['required']">
        Nazwa jest wymagana
      </mat-error>
    </mat-form-field>

  </div>

  <button class="button"
          (click)="onSubmit()"
          mat-raised-button
          color="primary"
          [disabled]="!addIngredientForm.valid || disableSubmitButton">
    Dodaj składnik
  </button>
</form>
