<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #cartSideNav
               class="sidenav"
               [ngClass]="{hidden : !(isCartHandset$ | async)}"
               [attr.role]="(isCartHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isCartHandset$ | async) ? 'over' : 'side'"
               [opened]="true">

    <p *ngFor="let cartItem of cart">{{cartItem.mealName}}</p>

  </mat-sidenav>

  <mat-sidenav-content>

    <ng-content>
    </ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
