<!-- <div class="container">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="row">
          <div class="col-sm-8">
            {{meal.name}}
          </div>
          <div class="col-sm-4 text-sm-end">
            {{meal.price | number : '1.2-2'}} zł
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="ingredient-header">Składniki:</p>
      <p class="ingredient"
         *ngFor="let ingredient of meal.ingredients">-{{ingredient.name}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
<div class="item-container">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="d-flex justify-content-between">
          <div class="meal-name">
            {{meal.name}}
          </div>
          <div class="text-nowrap price">
            {{meal.price | number : '1.2-2'}} zł
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="ingredient-header">Składniki:</p>
      <p class="ingredient"
         *ngFor="let ingredient of meal.ingredients">-{{ingredient.name}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
