.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.item-container {
  margin-top: 5px;
}

.menu-item-panel {
  display: flex;
  justify-content: space-between;
}

.ingredient {
  letter-spacing: 0.35px;
  margin: 15px 5px 0 0;
  background-color: #adb5bd !important;
}

.price {
  margin-right: 5px;
  color: #fff;
  font-size: 17px;
  letter-spacing: -0.5px;
}

.meal-name {
  letter-spacing: 0.75px;
}

.mat-expansion-panel-header {
  background-color: #495057 !important;
}

.mat-expansion-panel {
  background: #6c757d !important;
}
