.section-container {
  max-width: 600px;
  width: 96%;
  margin: 30px auto 0 auto;
}

.item-container {
  width: 98%;
  margin: 0px auto 0px auto;
}

h1 {
  letter-spacing: 0.8px;
  text-align: center;
}
